.button0 {
  font-weight: bold;
  border: red;
  color: red;
  padding: 62.5px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  display: block;
  cursor: pointer;
  width: 500px;
  margin: -5px;
  color: white;
  background-color: red;
}
a {
	text-decoration: none;
}	
	
.button1 {
	background-color: #ffa500;
	font-weight: bold;
	border: red;
	color: red;
	padding: 62.5px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	display: block;
	cursor: pointer;
	width: 500px;
	margin: -5px;
	color: white;
}
.button2 {
	background-color: #ffe800;
	font-weight: bold;
	border: red;
	color: red;
	padding: 62.5px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	display: block;
	cursor: pointer;
	width: 500px;
	margin: -5px;
	color: white;
}
.button3 {
	font-weight: bold;
	border: red;
	color: red;
	padding: 62.5px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	display: block;
	cursor: pointer;
	width: 500px;
	margin: -5px;
	color: white;
	background-color: #008000;
}
.button4 {
	font-weight: bold;
	border: red;
	color: red;
	padding: 62.5px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	display: block;
	cursor: pointer;
	width: 500px;
	margin: -5px;
	color: white;
	background-color: #0000ff;
}
.button5 {
	font-weight: bold;
	border: red;
	color: red;
	padding: 62.5px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 30px;
	display: block;
	cursor: pointer;
	width: 500px;
	margin: -5px;
	color: white;
	background-color: #4b0082;
}
